<h1>Song Import</h1>
<p>We could not find a match because of missing or incorrect information in the mp3 file.  Please review the information below and make sure all information is correct.</p>

<form data-abide id='songInfoForm'> 
      <fieldset>
        <div class="small-3 columns">
          <label for="title" class="right">Title</label>
        </div>
        <div class="small-9 columns">
          <input id="title" type="text" />
        </div>

        <div class="small-3 columns">
          <label for="artist" class="right">Artist</label>
        </div>
        <div class="small-9 columns">
          <input id="artist" type="text" />
        </div>

        <div class="small-3 columns">
          <label for="album" class="right">Album</label>
        </div>
        <div class="small-9 columns">
          <input id="album" type="text" />
        </div>
      </fieldset>