 <div class="mic-image-inverse">
  <div class="row top-row">
    <h1 class="headline">Your Station</h1>
    <p class="sub-headline">Here's What You're Broadcasting Right Now...</p>

    <div class="container col-sm-12 col-md-7">
      <h4 class="small-headline">Now Playing</h4>
      <p class="sub-headline">Streaming to your Listeners Right Now:</p>
      <ul id="nowPlayingList">
        <li ng-model="player.nowPlaying" class='nowPlaying song'>
          <!-- Titles -->
          <span class='title' ng-show="player.nowPlaying._audioBlock._type === 'Song'">{{player.nowPlaying._audioBlock.title}}</span>
          <span class='title' ng-show="player.nowPlaying._audioBlock._type === 'Commentary'">Commentary</span>
          <span class='title' ng-show="player.nowPlaying._audioBlock._type === 'CommercialBlock'">Commercial Block</span>

          <span class='artist' ng-show="player.nowPlaying._audioBlock._type === 'Song'">{{player.nowPlaying._audioBlock.artist}}</span>

          <progressbar ng-show="songPercentComplete" class="progress meter" type="dynamic" animate="false" value="songPercentComplete">
            <span class="meter"></span>
          </progressbar>
          <div class='nowPlayingTimes'>
            <div class='elapsedTime' ng-model="nowPlayingElapsedString">{{nowPlayingElapsedString}}</div>
            <a class='muteButton' href='#'></a>
            <div ng-show="nowPlayingRemainingString" class='timeRemaining' ng-model="nowPlayingRemainingString">-{{nowPlayingRemainingString}}</div>
          </div>

        </li>  
      </ul> 


      <ul id="station-list">
        <div  ui-sortable="playlistOptions" class="stationList" ng-model="playlist">
          <div  ng-repeat="spin in playlist track by spin._id">
            <div class="dragGroup">
              <li class='song' ng-show="(spin._audioBlock._type === 'Song')">
                <span class="songlist-title">{{ spin._audioBlock.title }}</span>
                <span class="songlist-artist">{{ spin._audioBlock.artist }}</span>
                <span class="songlist-airtime" ng-show="spin.airtime">{{ formatTime(spin.airtime) }}</span>
                <a class="editSong fa fa-wrench" ng-click="markupSong()" ng-show="needsMarkup(spin._audioBlock);"></a>
                <a class="close" title="delete" ng-click="removeSpin(spin, $index);" ng-show="removable(spin, $index);">×</a>
              </li>
              <li class='commentary' ng-show="(spin._audioBlock._type==='Commentary')">
                <span class="songlist-title">{{ spin._audioBlock.title }}</span>
                <span class="songlist-artist"><button class="btn btn-default" ng-click="previewCommentary($index)">Preview</button></span>
                <span class="songlist-airtime">{{ formatTime(spin.airtime) }}</span>
                <a href="#" class="close" title="delete" ng-show="removable(spin, $index);" ng-click="removeSpin(spin, $index);">×</a>
              </li>
              <li class='commercialBlock disabled' ng-show="(spin._audioBlock._type === 'CommercialBlock')">
                <span class="songlist-title">Commercial Block</span>
                <span class="songlist-airtime">{{ formatTime(spin.airtime) }}</span>
              </li>
            </div>
            <li class='commercialBlock disabled' ng-show="spin.commercialsFollow && !spin.beingDragged">
              <span class="songlist-title">Commercial Block</span>
              <span class="songlist-airtime">{{ formatTime(spin.endTime) }}</span>
            </li>
          </div>
        </div>   
      </ul>
    </div>
        
    <div class="col-sm-12 col-md-5">
      <h4 class="small-headline">Content</h4>
      <p class="sub-headline">Add Songs or Your Own Commentary</p>
      
      <tabset id="catalogAndRecordPanel" justified="true">
        <tab heading="Add Songs">
          <div class="content active" id="all-songs-source-container">
          
            <div>   <!--  extra container for tab/sortable-ui interaction  -->
              <span for="searchbox">Search Text:</span>
              <span id="onlyMySongs-label">My Songs Only</span>
              <input id="onlyMySongs" class="switch" type="checkbox">
              <input type="text" id="searchbox" placeholder="Enter Title and/or Artist Here" ng-model="$root.searchText" ng-model-options="{ debounce: 500 }" ng-change="findSongs($root.searchText)">


              <div id="catalog-list" >
                <ol class="song-manager-page catalogList" ui-sortable="catalogList" ng-model="catalogSearchResults">
                  <li ng-repeat="song in catalogSearchResults" >
                    <span class="songlist-title">{{ song.title }}</span>
                    <span class="songlist-artist">{{ song.artist }}</span>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Record">
          <div class="content" id="record">
            <div> <!-- extra container for tab/sortable-ui interaction  -->
              <div ng-include="'components/audioRecorder/audioRecorder.html'" >
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Upload">
          <div class="content" id="uploader">
            <div ng-include="'components/uploader/uploader.html'"></div>
          </div>
         </tab>
      </tabset>
    </div>

    </div>
  </div>
</div>

<!-- JOYRIDE -->
<!-- <ol class='joyride-list' id="tour" data-joyride>
  <li data-text="Next" data-button="Continue" data-options="prev_button: false">
    <h4>Welcome!</h4>
    <p>Welcome to Playola, where we set up a 24-hour-a-day radio station and hand you the controls.  Press Continue to see how it works!</p>
  </li>
  <li data-id="nowPlaying" data-button="Next">
    <h4>Now Playing</h4>
    <p>This is what's currently playing on your station. You can mute the station with the center button.</p>
  </li>

  <li data-id="station-list" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;">
    <h4>The Queue</h4>
    <p>This is the station of songs that are about to play on your station.</p>
  </li>

  <li data-class="ui-sortable-handle:first" data-text="Next" data-prev-text="Prev">
    <h4>Change the Spin Order</h4>
    <p>Change the order of songs by grabbing the song with your mouse, and dragging it up or down. Times and commercials will automatically adjust.</p>
  </li>

  <li data-class="close:first" data-button="Next" data-prev-text="Prev">
    <h4>Remove a Spin</h4>
    <p>Remove a song from the queue by clicking on the 'x'.</p>
  </li>

  <li data-id="catalog-list" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;">
    <h4>Catalogue</h4>
    <p>Search our catalogue of songs here.  You can add any song to the queue by dragging it in with your mouse.</p>
  </li>

  <li data-id="record-tab" data-button="Next" data-options="tip_location:left;">
    <h4>Voice-Tracking</h4>
    <p>In Chrome and Firefox you can record commentary, then drag it right into the setlist for DJ voiceovers.</p>
  </li>

  <li data-button="Done">
    <h4>Thanks!</h4>
    <p>Thanks for taking the tour! Happy broadcasting!</p>
  </li>
</ol> -->