@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.headline {
  text-align: center;
  font-family: "tungsten light";
  font-size: 50px;
}

.sub-headline {
  text-align: center;
  font-size: 19px;
  font-family: "roboto-regular";
  color: grey;
}

.small-headline {
  text-align: center;
}

@microphone-red: #ED002A;
@darker-item: #E9D4C3;
@lighter-item: #F1EAE2;

// injector
@import 'account/getUserInfo/getUserInfo.less';
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'station/djBooth/djBooth.less';
@import 'station/songManager/songManager.less';
@import 'modal/modal.less';
// endinjector