<div class='mic-image-inverse'>
  <div class="row top-row">
    <h1 class="headline">Song Manager</h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <h4 class="small-headline">Your Songs</h4>
      <p class="sub-headline">These are the songs that will automatically play when you're not around.</p>
      <div class="alert alert-danger" role="alert" ng-show="rotationItemsMessage">
            {{ rotationItemsMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="rotationItemsMessage = null;"><span aria-hidden="true">&times;</span></button>
      </div>
      <ul id="spinsPerWeekList" ng-model="rotationItems" dnd-list="rotationItems"  dnd-drop="newSongDropped(event, index, item, external, type)">
        <li ng-repeat="rotationItem in rotationItems" id="songId{{rotationItem._song._id}}">
          <span class="songlist-title">{{ rotationItem._song.title }}</span>
          <span class="songlist-artist">{{ rotationItem._song.artist }}</span>

          <select class="rotationSelect" ng-model="rotationItem.weight" ng-click="saveOldValue(rotationItem)" ng-change="updateRotationWeight(rotationItem)">
            <option value='27'>Heavy</option>
            <option value='17'>Medium</option>
            <option value='2'>Light</option>
          </select>

          <a href="#" class="close" title="delete" ng-click="removeRotationItem(rotationItem)">×</a>

        </li>
      </ul>

    </div>
    <div class="col-sm-12 col-md-5 columns no-gutter">
      <h4 class="small-headline">Songs</h4>
      <p class="sub-headline">Search our Catalog</p>  
      <input type="text" id="searchbox" placeholder="Enter Title and/or Artist Here" ng-model="searchText" ng-model-options="{ debounce: 500 }" ng-change="findSongs(searchText)"/>

      <ul id="catalog-list" class="song-manager-page" dnd-list="catalogSearchResults">
        <li ng-repeat="song in catalogSearchResults"  dnd-draggable="song" dnd-moved="catalogSearchResults.splice($index, 1)" dnd-effect-allowed="move"  dnd-selected="catalogSearchResults.selected = item" ng-class="{'selected': models.selected === song}">
          <span class="songlist-title">{{ song.title }}</span>
          <span class="songlist-artist">{{ song.artist }}</span>
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="brown-background">
  <button id='resetStation'>Reset Station</button>
  <button id='resetSongList'>Reset SongList</button>

</div>

<!-- JOYRIDE -->
<ol class='joyride-list' id="tour" data-joyride>
  <li data-text="Next" data-button="Next" data-options="prev_button: false">
    <h4>Station Playlist</h4>
    <p>On this page, you can choose which songs to automatically include in your playlist.</p>
  </li>
  <li data-id="spinsPerWeekFieldset" data-button="Next" data-options="tip_location:top;">
    <h4>Song List</h4>
    <p>These are the songs that your station plays.  To remove a song, double-click it or drag it back into the main catalogue.</p>
  </li>

  <li data-class="rotationSelect" data-text="Next" data-prev-text="Prev">
    <h4>Level of Rotation</h4>
    <p>This determines how often the song is played.  Heavy songs are played frequently, light songs are played once or twice per week.</p>
  </li>

  <li data-id="catalog-list" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;">
    <h4>The Catalog</h4>
    <p>This is the list of all available songs. To add a song to your station, just drag it over or double-click it.</p>
  </li>

  <li data-button="Done">
    <h4>Thanks!</h4>
    <p>Thanks for taking the tour!</p>
  </li>
</ol>
