<div class="mic-image-inverse">

  <h1 class="headline">Listen</h1>
  

  <dl class="tabs" id="findStationsPanel" data-tab>
    <dd class="active"><a href="#twitter-friends">Your Twitter Friends</a></dd>
    <dd><a href="#top-stations">Top Stations</a></dd>
    <dd><a href="#preset-stations">Your Presets</a></dd>
    <dd><a href="#search-stations">Search</a></dd>
  </dl>

  <div class="tabs-content">

    <div class="content active" id="twitter-friends">
      <div class="row small-9">
        <% twitter_friends_stations.each do |station| %>
          <a href="/stations/<%= station.id %>">
            <article class="top-station station-square small-6 medium-3">
              <img class="twitter-pic" src="<%= station.user.profile_image_url %>" />
              <div class="overlay">
              <h3 class="overlay-twitter-handle">@<%= station.user.twitter %></h3>

              <h3 class="overlay-now-playing-label">Now Playing:</h3>

              <% if station.now_playing.is_commercial_block %>
                <p class="now-playing-title"><b>Commercial Block</b></p>

              <% else %>

                <p class="now-playing-title"><%= station.now_playing.audio_block.title || 'Commercial Break' %></p>
                <p class="now-playing-artist"><%= station.now_playing.audio_block.artist || '' %></p>
              <% end %>
              </div>
            </article>
          </a>
        <% end %>
      </div>
    </div>

    <div class="content" id="top-stations">
      <div class="row small-9">
        <% @top_stations.each do |station| %>
          <a href="/stations/<%= station.id %>">
            <article data-id="<%= station.id %>" class="top-station station-square small-6 medium-3">
              <img class="twitter-pic" src="<%= station.user.profile_image_url %>" />
              <div class="overlay">
              <h3 class="overlay-twitter-handle">@<%= station.user.twitter %></h3>

              <h3 class="overlay-now-playing-label">Now Playing:</h3>

              <% if station.now_playing.is_commercial_block %>
                <p class="now-playing-title"><b>Commercial Block</b></p>

              <% else %>

                <p class="now-playing-title"><%= station.now_playing.audio_block.title || 'Commercial Break' %></p>
                <p class="now-playing-artist"><%= station.now_playing.audio_block.artist || '' %></p>
              <% end %>
              </div>
            </article>
          </a>
        <% end %>
      </div>
    </div>

    <div class="content" id="preset-stations">
      <div class="row small-9">
        <% @preset_stations.each do |station| %>
          <a href="/stations/<%= station.id %>">
            <article class="top-station station-square small-6 medium-3">
              <img class="twitter-pic" src="<%= station.user.profile_image_url %>" />
              <div class="overlay">
              <h3 class="overlay-twitter-handle">@<%= station.user.twitter %></h3>

              <h3 class="overlay-now-playing-label">Now Playing:</h3>

              <% if station.now_playing.is_commercial_block %>
                <p class="now-playing-title"><b>Commercial Block</b></p>

              <% else %>

                <p class="now-playing-title"><%= station.now_playing.audio_block.title || 'Commercial Break' %></p>
                <p class="now-playing-artist"><%= station.now_playing.audio_block.artist || '' %></p>
              <% end %>
              </div>
            </article>
          </a>
        <% end %>
      </div>
    </div>

    <div class="content" id="search-stations">
      <h1 class="headline">Coming Soon</h1>
    </div>

  </div>
</div>